@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
}
.container nav {
  padding: 20px;
  background: linear-gradient(270deg, #7743db 31.64%, #5725e5 66.78%);
}
.container nav .nav-text {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container nav .nav-text h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.container nav .nav-text ul {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.container nav .nav-text ul li {
  list-style-type: none;
}
.container nav .nav-text ul li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.container main {
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.container main .left-box {
  width: 48%;
}
.container main .left-box h2 {
  margin-bottom: 32px;
  font-family: Poppins;
  font-size: 68px;
  font-style: italic;
  font-weight: 700;
  line-height: 109%;
  background: linear-gradient(268deg, #7743db 46.2%, #5725e5 59.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container main .left-box p {
  margin-bottom: 32px;
  color: #000;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 109%;
}
.container main .left-box button {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%;
  padding: 10px 24px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(263deg, #7743db 38.81%, #5725e5 70.24%);
}
.container footer {
  margin: auto;
  width: 70%;
}
.container footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container footer ul .li-tek {
  width: 178px;
  height: 199px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 178px;
  border-radius: 25px;
  background: #5725e5;
  list-style-type: none;
}
.container footer ul .li-cut {
  width: 178px;
  height: 199px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 178px;
  border-radius: 25px;
  background: #7743db;
  list-style-type: none;
}
.container footer ul span {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%; /* 19.62px */
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0;
  }
  .container nav {
    padding: 21px;
  }
  .container nav .nav-text h1 {
    font-size: 18px;
  }
  .container nav .nav-text ul li {
    display: none;
  }
  .container main {
    padding: 0;
    margin: 64px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .container main .right-box img {
    width: 100%;
  }
  .container main .left-box {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container main .left-box h2 {
    font-size: 40px;
  }
  .container main .left-box p {
    font-size: 20px;
  }
  .container main .left-box button {
    font-size: 20px;
  }
  .container footer {
    padding: 10px;
  }
  .container footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
}/*# sourceMappingURL=index_20231031170927.css.map */